<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <pattern>%d{mm:ss.SSS} [%.10thread] %-5level %logger{15} -- %msg%n</pattern>
	  </encoder>
	  <target>System.err</target>
	</appender>

	<logger name="rdf4j.sparql" level="warn"/>

	<logger name="rdf4j.sparql-processor-test" level="warn" />
	<logger name="rdf4j.sparql-test" level="debug" />

	<logger name="rdf4j.loader" level="debug"/>
	<logger name="rdf4j.loader-test" level="debug" />
	<logger name="rdf4j.repository" level="debug"/>
	
	<root>
		<level value="warn" />
		<appender-ref ref="STDERR" />
	</root>
</configuration>
